<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Profesores</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">
<div class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
            <h1 class="h3 mb-0">Lista de Profesores</h1>
        </div>
        <div class="card-body">
            <a class="btn btn-success mb-3" th:href="@{/profesores/new}">Agregar Nuevo Profesor</a>
            <a class="btn btn-secondary mb-3" th:href="@{/../}">Regresar</a>
            <table class="table table-hover table-striped table-bordered text-center">
                <thead class="thead-dark">
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Especializacion</th>
                    <th>Aula</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="profesor, stat : ${profesores}">
                    <td th:text="${stat.index + 1}"></td>
                    <td th:text="${profesor.nombre}"></td>
                    <td th:text="${profesor.apellido}"></td>
                    <td th:text="${profesor.email}"></td>
                    <td th:text="${profesor.especializacion}"></td>
                    <td th:text="${profesor.aulas.numero}"></td>
                    <td>
                        <a class="btn btn-sm btn-warning" th:href="@{/profesores/edit/{id}(id=${profesor.id_profesor})}">Editar</a>
                        <a class="btn btn-sm btn-danger" th:href="@{/profesores/delete/{id}(id=${profesor.id_profesor})}">Eliminar</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
